<h1>Interested in working with me?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Philadelphia,Pa</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "2679823402" %></p>

    <h3>Email</h3>

    <p><a href="mailto:mflorence1989@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.0259035545946!2d-75.0947623855995!3d40.0302010869822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b6589b9a6d4d%3A0xcab32312d56d4775!2s915+E+Godfrey+Ave%2C+Philadelphia%2C+PA+19124!5e0!3m2!1sen!2sus!4v1514411455240" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>


</div>
