<div class="inner cover">
<h1 class="cover-heading">Welcome.</h1>
<p class="lead">I am Full Stack Developer.I currently have a bitcoin website built on the Rails framework .</p>
<p class="lead">
<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
</p>
</div>
